<footer class="app-footer">
  <div class="app-footer__body">
    <div class="app-container">
      {{> app-sidebar style="horizontal"}}
    </div>
  </div>
  <div class="app-footer__footer">
    <div class="app-container">
      @2015 copyright .all right reserved by awesome theme | terms policy | disclaimer
    </div>
  </div>
</footer>
<!-- /.app-footer -->
