<footer class="app-footer">
  <div class="app-footer__body">
    <div class="app-container">
      {{> app-sidebar style="dark"}}
    </div>
  </div>
  <div class="app-footer__footer">
    <div class="app-container">
      copyright
    </div>
  </div>
</footer>
<!-- /.app-footer -->
