<section class="app-footer">
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
      <h1 class="app-footer__title">About Blog</h1>
      <p class="app-footer__content">Lorem ipsum dolor sit amet, conser adipisicing  esse cillum dolore nulla pariatur. </p>
      <img class="app-footer__img" src="/src/img/Untitled-1.jpg" alt="">
    </div>

    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
    <div class="mdc-layout-grid__cell">
      <h1 class="app-footer__title">latest tweets</h1>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
      <p class="app-footer__title-small">@Twitter@magicalrebekah</p>
      <p class="app-footer__content-twitter">Developer Advocate @heyval isaiyou knows the very well is about things .</p>
    </div>

    <div class="mdc-layout-grid__cell  mdc-layout-grid__cell--span-3">
      <p class="app-footer__title-small">@Twitter@magicalrebekah</p>
      <p class="app-footer__content-twitter">Developer Advocate hav a great work this knows the very well is about things .</p>
    </div>
    </div>


     <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
        <h1 class="app-footer__title">Follow me instagram</h1>
       <div class="app-footer__photo">
          <img class="app-footer__photo-items" src="/src/img/5646.jpg" alt="">
          <img class="app-footer__photo-items" src="/src/img/5646.jpg" alt="">
          <img class="app-footer__photo-items" src="/src/img/5646.jpg" alt="">
          <img class="app-footer__photo-items" src="/src/img/5646.jpg" alt="">
      </div>
     </div>

      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
        <h1 class="app-footer__title">latest comment</h1>
        <p class="app-footer__content">From Alex :<br>Developer Advocate @heyval isaiyou know the very well is talking about things .</p>
        <p class="app-footer__content">From Jhon Doe :<br>Developer Advocate @heyval isaiyou know the very well is talking about things .</p>

      </div>
  </div>


</div>
<div class="mdc-layout-grid__cell  mdc-layout-grid__cell--span-3">
      <p class="app-footer__container-content">@2015 copyright .all right reserved by awesome theme   I   terms policy   I   disclaimer</p>
    </div>





</section>
