<nav class="app-navigation mdc-top-app-bar mdc-top-app-bar--fixed">
  <div class="mdc-top-app-bar__row">
    <section class="app-navigation__link mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <i class="app-navigation__icon fas fa-bars"></i>
    </section>
    <SECtion class="app-navigation__link">
      <span class="app-navigation__home mdc-top-app-bar__title">
        D<i class="fas fa-bars"></i>COBLOG
      </span>
    </SECtion>
    <section class="app-navigation__link mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
        <i class="app-navigation__icon fas fa-rss"></i>
        <i class="app-navigation__icon fab fa-twitter"></i>
        <i class="app-navigation__icon fab fa-tumblr"></i>
        <i class="app-navigation__icon fab fa-facebook-f"></i>
        <i class="app-navigation__icon fas fa-search"></i>
    </section>
  </div>
</nav>
