<nav class="app-navigation">
  <button class="app-navigation__toggle">
    <i class="fas fa-bars"></i>
  </button>
  <div class="app-navigation__logo">
    D<i class="fas fa-bars"></i>COBLOG
  </div>
  <div class="app-navigation__social-links">
    <a href="#" class="app-navigation__social-link fas fa-rss"></a>
    <a href="#" class="app-navigation__social-link fab fa-twitter"></a>
    <a href="#" class="app-navigation__social-link fab fa-tumblr"></a>
    <a href="#" class="app-navigation__social-link fab fa-facebook-f"></a>
    <a href="#" class="app-navigation__social-link fas fa-search"></a>
  </div>
</nav>
<!-- /.app-navigation -->
