<article class="app-post-content">
    <header class="app-post-content__header">
      <a class="app-post-content__travl" href="">{{category}}</a>
      <h1 class="app-post-content__title">{{title}}</h1>
      <div class="app-post-content__meta">
        <span class="app-post-content__txt"><i class="app-post-content__icon fas fa-user-alt"></i> dice acalister</span>
        <span class="app-post-content__txt"><i class="app-post-content__icon far fa-calendar-alt"></i>january 16, 2016</span>
      </div>
    </header>
    <section class="app-post-content__texts">
      <p class="app-post-content__texts app-post-content__texts--center">ent in search of the untamed, the estranged, the wild few tending the flame. I found myself in a world bigger agrander i athas is a all imagination, color and life vibrating in everything. Just what sort of wonder could this new world hold?' All shots by Ben Sturgulewski, from features, commercials, and personal projects. Filmed on location in Alaska, Argentina, Bolivia, British Columbia, Dubai, Japan, Oregon, the Maldives, and Washington State.
    </section>
</article>