<article class="app-post-content">
    <header class="app-post-content__header">
      <a class="app-post-content__travl" href="">{{category}}</a>
      <h1 class="app-post-content__title">{{title}}</h1>
      <div class="app-post-content__meta">
        <span class="app-post-content__txt"><i class="app-post-content__icon fas fa-user-alt"></i> dice acalister</span>
        <span class="app-post-content__txt"><i class="app-post-content__icon far fa-calendar-alt"></i>january 16, 2016</span>
      </div>
    </header>

    {{#is name "default"}}
      <section class="app-post-content__texts">
        <p class="app-post-content__texts app-post-content__texts--center">ent in search of the untamed, the estranged, the wild few tending the flame. I found myself in a world bigger agrander i athas is a all imagination, color and life vibrating in everything. Just what sort of wonder could this new world hold?' All shots by Ben Sturgulewski, from features, commercials, and personal projects. Filmed on location in Alaska, Argentina, Bolivia, British Columbia, Dubai, Japan, Oregon, the Maldives, and Washington State.
      </section>
    {{/is}}

    {{#is name "poem"}}
      <section class="app-post-content__texts">
        <p class="app-post-content__texts app-post-content__texts--center app-post-content__texts--mod">Now before I go further, I wants to clarify a huge misconceptions about the minimalists lifestyle. First of all, it doesn’t mean you own practically nothing and must live in a tiny house. Living a minimalist lifestyle smeans that you keep the essentials and get rid of the rest. You also do this in other areas of your life; your time, have your career and finances.  excess and making room for the things you truly enjoy.
        <p class="app-post-content__texts app-post-content__texts--center app-post-content__texts--mod">Today, I continue to simplify our home and gets rids of things that we don’t need. Although we live in a smaller home, the space appears bigger because we own nows less stuff. My goal is no longer to please others by making my home a make have a somthing speacial it a space that my family can enjoy.
      </section>
      <div class="app-post-content__button">
        <span class="app-post-content__button app-post-content__button-style">read more</span>
      </div>
    {{/is}}
</article>