{{#is name "default"}}
  <div class="app-post-footer">
    <div class="app-post-footer__tags">
      <i class="app-post-footer__tag-icon fas fa-tags"></i>
      <a class="app-post-footer__tag" href="">beautiful,</a>
      <a class="app-post-footer__tag" href="">nature,</a>
      <a class="app-post-footer__tag" href="">please,</a>
      <a class="app-post-footer__tag" href="">weather</a>
    </div>
    <div class="app-post-footer__interactions">
      <div>
        <span class="app-post-footer__active"><i class="app-post-footer__icon far fa-comments"></i>06 comment</span>
        <span class="app-post-footer__active"><i class="app-post-footer__icon far fa-heart"></i>like 25</span>
      </div>
      <div class="app-post-footer__average">
          average : 5%
        <span class="app-post-footer__rating">
          <i class="app-post-footer__rating-star fas fa-star"></i>
          <i class="app-post-footer__rating-star fas fa-star"></i>
          <i class="app-post-footer__rating-star fas fa-star"></i>
          <i class="app-post-footer__rating-star fas fa-star"></i>
          <i class="app-post-footer__rating-star fas fa-star"></i>
        </span>
      </div>
      <div class="app-post-footer__socials">
        <i class="app-post-footer__social fas fa-basketball-ball"></i>
        <i class="app-post-footer__social fab fa-facebook-f"></i>
        <i class="app-post-footer__social fab fa-twitter"></i>
        <i class="app-post-footer__social fab fa-pinterest"></i>
      </div>
    </div>
  </div>
{{/is}}

{{#is name "taskbar"}}
<div class="app-post-footer">
    <div class="app-post-footer__interactions">
      <div>
        <span class="app-post-footer__active"><i class="app-post-footer__icon far fa-comments"></i>06 comment</span>
        <span class="app-post-footer__active"><i class="app-post-footer__icon far fa-heart"></i>like 25</span>
      </div>
      <div class="app-post-footer__socials">
        <i class="app-post-footer__social fas fa-basketball-ball"></i>
        <i class="app-post-footer__social fab fa-facebook-f"></i>
        <i class="app-post-footer__social fab fa-twitter"></i>
        <i class="app-post-footer__social fab fa-pinterest"></i>
      </div>
    </div>
  </div>
{{/is}}