<aside class="app-widget{{#is style "dark"}} app-widget--dark{{/is}} {{#is style "light"}} app-widget--light{{/is}}">
  {{#is name "search"}}
    {{> app-search}}
  {{/is}}
  {{#is name "4magazine"}}
    <div class="app-widget__image">
      <img src="assets/images/4magazine.jpg" alt="">
    </div>
  {{/is}}
  {{#is name "Catagories"}}
    <h3 class="app-widget__title">Catagories</h3>
    <div class="app-widget__list">
      <div class="app-widget__type">
        <p class="app-widget__style">lifestyle</p>
        <p class="app-widget__type--number">98</p>
      </div>
      <div class="app-widget__type">
        <p class="app-widget__style">audio</p>
        <p class="app-widget__type--number">102</p>
      </div>
      <div class="app-widget__type">
        <p class="app-widget__style">gallery</p>
        <p class="app-widget__type--number">83</p>
      </div>
      <div class="app-widget__type">
        <p class="app-widget__style">image</p>
        <p class="app-widget__type--number">04</p>
      </div>
      <div class="app-widget__type">
        <p class="app-widget__style">standard</p>
        <p class="app-widget__type--number">109</p>
      </div>
      <div class="app-widget__type">
        <p class="app-widget__style">status</p>
        <p class="app-widget__type--number">50</p>
      </div>
      <div class="app-widget__type">
        <p class="app-widget__style">video</p>
        <p class="app-widget__type--number">102</p>
      </div>
    </div>
  {{/is}}
  {{#is name "smallphoto"}}
    <div class="app-widget__smallphoto">
      <img src="assets/images/4magazine small.jpg" alt="">
    </div>
  {{/is}}
  {{#is name "Latest Post"}}
    <h3 class="app-widget__title">Latest Post</h3>
    <div class="app-widget__latestpost">
      <div class="app-widget__latestpost">
        <p class="app-widget__square"></p>
      </div>
    </div>
  {{/is}}

  {{#is name "about"}}
    <h3 class="app-widget__title">Latest Comments</h3>
    <div class="app-widget__content">
      <p>Lorem ipsum dolor sit amet, conser adipisicing  esse cillum dolore nulla pariatur.</p>
    </div>
  {{/is}}
  {{#is name "tweets"}}
    <h3 class="app-widget__title">Latest Comments</h3>
    <div class="app-widget__content">
      <p>Lorem ipsum dolor sit amet, conser adipisicing  esse cillum dolore nulla pariatur.</p>
    </div>
  {{/is}}
  {{#is name "photos"}}
    <h3 class="app-widget__title">Latest Comments</h3>
    <div class="app-widget__content">
      <p>Lorem ipsum dolor sit amet, conser adipisicing  esse cillum dolore nulla pariatur.</p>
    </div>
  {{/is}}
  {{#is name "comments"}}
    <h3 class="app-widget__title">Latest Comments</h3>
    <div class="app-widget__content">
      <p>Lorem ipsum dolor sit amet, conser adipisicing  esse cillum dolore nulla pariatur.</p>
    </div>
  {{/is}}
</aside>
<!-- /.app-widget -->
