<aside class="app-widget">
  {{#is name "about"}}
    <h3 class="app-widget__title">About Blog</h3>
    <div class="app-widget__content">
      <p>Lorem ipsum dolor sit amet, conser adipisicing  esse cillum dolore nulla pariatur.</p>
      <img class="app-widget__about-image" src="/assets/images/widget-about.jpg" alt="">
    </div>
  {{/is}}
  {{#is name "tweets"}}
    <h3 class="app-widget__title">Latest Tweets</h3>
    <div class="app-widget__content app-widget__content--tweets">
      <p>Lorem ipsum dolor sit amet, conser adipisicing  esse cillum dolore nulla pariatur.</p>
    </div>
  {{/is}}
  {{#is name "photos"}}
    <h3 class="app-widget__title">Follow Me Instagram</h3>
    <div class="app-widget__content app-widget__content--photos">
      <p>Lorem ipsum dolor sit amet, conser adipisicing  esse cillum dolore nulla pariatur.</p>
    </div>
  {{/is}}
  {{#is name "comments"}}
    <h3 class="app-widget__title">Latest Comments</h3>
    <div class="app-widget__content app-widget__content--comments">
      <p>Lorem ipsum dolor sit amet, conser adipisicing  esse cillum dolore nulla pariatur.</p>
    </div>
  {{/is}}
</aside>
<!-- /.app-widget -->
