<aside class="app-widget{{#is style "dark"}} app-widget--dark{{/is}} {{#is style "light"}} app-widget--light{{/is}}">
  {{#is name "search"}}
    {{> app-search}}
  {{/is}}
  {{#is name "tweets"}}
    <h3 class="app-widget__title">Latest Tweets</h3>
    <div class="app-widget__content">
      <p>Lorem ipsum dolor sit amet, conser adipisicing  esse cillum dolore nulla pariatur.</p>
    </div>
  {{/is}}
  {{#is name "photos"}}
    <h3 class="app-widget__title">Follow Me Instagram</h3>
    <div class="app-widget__content">
      <p>Lorem ipsum dolor sit amet, conser adipisicing  esse cillum dolore nulla pariatur.</p>
    </div>
  {{/is}}
  {{#is name "comments"}}
    <h3 class="app-widget__title">Latest Comments</h3>
    <div class="app-widget__content">
      <p>Lorem ipsum dolor sit amet, conser adipisicing  esse cillum dolore nulla pariatur.</p>
    </div>
  {{/is}}
</aside>
<!-- /.app-widget -->
