<aside class="app-widget{{#is style "dark"}} app-widget--dark{{/is}} {{#is style "light"}} app-widget--light{{/is}}">
  {{#is name "about"}}
    <h3 class="app-widget__title">About Blog</h3>
    <div class="app-widget__content">
      <p class="app-widget__bla">Lorem ipsum dolor sit amet, conser adipisicing  esse cillum dolore nulla pariatur.</p>
      <img class="app-widget__about-image" src="/assets/images/widget-about.jpg" alt="">
    </div>
  {{/is}}
  {{#is name "tweets"}}
    <h3 class="app-widget__title">Latest Tweets</h3>
    <div class="app-widget__content">
      <div class="app-grid">
      <div class="app-widget__column">
        <span class="app-widget__column-item"><i class="fab fa-twitter"> &ensp;@Twitter@magicalrebekah</i></span>
      </div>
      </div>
      <p class="app-widget__bla"><Developer Advocate @heyval isaiyou knows the very well is about things .</p>

    <div class="app-grid">
      <div class="app-widget__column">
        <span class="app-widget__content-item"> <i class="fab fa-twitter"> &ensp;@Twitter@magicalrebekah</i></span>
        </div>
        <p class="app-widget__bla">Developer Advocate hav a great work this knows the very well is about things .</p>
      </div>
      </div>

  {{/is}}
  {{#is name "photos"}}
    <h3 class="app-widget__title">Follow Me Instagram</h3>
    <div class="app-widget__content">
      <img src="/dist/assets/images/Untitled-1.jpg" alt="">
      <img src="/dist/assets/images/Untitled-1.jpg" alt="">
      <img src="/dist/assets/images/Untitled-1.jpg" alt="">
      <img src="/dist/assets/images/Untitled-1.jpg" alt="">
    </div>
  {{/is}}
  {{#is name "comments"}}
    <h3 class="app-widget__title">Latest Comments</h3>
    <div class="app-widget__content">
      <p class="app-widget__bla">From Alex :</p>
      <p class="app-widget__bla">Developer Advocate @heyval isaiyou know the very well is talking about things .</p>
      <p class="app-widget__bla">From Jhon Doe :</p>
      <p class="app-widget__bla">Developer Advocate @heyval isaiyou know the very well is talking about things .</p>
    </div>
  {{/is}}
</aside>
<!-- /.app-widget -->
