<aside class="app-widget{{#is style "dark"}} app-widget--dark{{/is}} {{#is style "light"}} app-widget--light{{/is}}">
  {{#is name "search"}}
    {{> app-search}}
  {{/is}}
  {{#is name "4magazine"}}
    <div class="app-widget__image">
      <img src="assets/images/widget-4magazine.jpg" alt="">
    </div>
  {{/is}}
  {{#is name "Catagories"}}
    <h3 class="app-widget__title">Catagories</h3>
    <div class="app-widget__list">
      <div class="app-widget__type">
        <p class="app-widget__style">lifestyle</p>
        <p class="app-widget__type--number">98</p>
      </div>
      <div class="app-widget__type">
        <p class="app-widget__style">audio</p>
        <p class="app-widget__type--number">102</p>
      </div>
      <div class="app-widget__type">
        <p class="app-widget__style">gallery</p>
        <p class="app-widget__type--number">83</p>
      </div>
      <div class="app-widget__type">
        <p class="app-widget__style">image</p>
        <p class="app-widget__type--number">04</p>
      </div>
      <div class="app-widget__type">
        <p class="app-widget__style">standard</p>
        <p class="app-widget__type--number">109</p>
      </div>
      <div class="app-widget__type">
        <p class="app-widget__style">status</p>
        <p class="app-widget__type--number">50</p>
      </div>
      <div class="app-widget__type">
        <p class="app-widget__style">video</p>
        <p class="app-widget__type--number">102</p>
      </div>
    </div>
  {{/is}}
  {{#is name "smallphoto"}}
    <div class="app-widget__smallphoto">
      <img src="assets/images/widget-4magazine small.jpg" alt="">
    </div>
  {{/is}}
  {{#is name "Latest Post"}}
    <h3 class="app-widget__title">Latest Post</h3>
    <div class="app-widget__latestpost">
      <div class="app-widget__latestpost">
        <p class="app-widget__square"></p>
        <div class="app-widget__content">
          <p class="app-widget__latestpost-type">jurney towards a lifestyle</p>
            <div class="app-widget__interact">
              <p class="app-widget__interact-date">Jan. 16 2015</p>
              <p class="app-widget__interact-like">Like 255</p>
            </div>
        </div>    
      </div>
    </div>

    <div class="app-widget__latestpost">
      <div class="app-widget__latestpost">
        <p class="app-widget__square"></p>
        <div class="app-widget__content">
          <p class="app-widget__latestpost-type">Fashionable shoes for men</p>
            <div class="app-widget__interact">
              <p class="app-widget__interact-date">Jan. 18 2015</p>
              <p class="app-widget__interact-like">Like 26</p>
            </div>
        </div>    
      </div>
    </div>

    <div class="app-widget__latestpost">
      <div class="app-widget__latestpost">
        <p class="app-widget__square"></p>
        <div class="app-widget__content">
          <p class="app-widget__latestpost-type">Really Awesome adventure</p>
            <div class="app-widget__interact">
              <p class="app-widget__interact-date">Jan. 23 2015</p>
              <p class="app-widget__interact-like">Like 23</p>
            </div>
        </div>    
      </div>
    </div>


    <div class="app-widget__latestpost">
      <div class="app-widget__latestpost">
        <p class="app-widget__square"></p>
        <div class="app-widget__content">
          <p class="app-widget__latestpost-type">Fashionable shoes for men</p>
            <div class="app-widget__interact">
              <p class="app-widget__interact-date">Jan. 18 2015</p>
              <p class="app-widget__interact-like">Like 26</p>
            </div>
        </div>    
      </div>
    </div>
  {{/is}}

  {{#is name "socials"}}
    <div class="app-widget__interactions">
      <i class="app-widget__interactions-social app-widget__interactions-social--goright fab fa-twitter"></i>
      <i class="app-widget__interactions-social fab fa-facebook-f"></i>
      <i class="app-widget__interactions-social fas fa-basketball-ball"></i>
      <i class="app-widget__interactions-social fab fa-pinterest"></i>
      <i class="app-widget__interactions-social app-widget__interactions-social--nomargin fab fa-linkedin-in"></i>
    </div>
  {{/is}}

  {{#is name "new pics"}}
    <div class="app-widget__pics">
      <img src="http://lorempixel.com/298/230/" alt="">
      <span class="app-widget__pics-nav"><i class="app-widget__pics-icon fas fa-arrow-left"></i></span>
      <span class="app-widget__pics-nav" style="left: 248px;"><i class="app-widget__pics-icon fas fa-arrow-right"></i></span>
    </div>
  {{/is}}

  {{#is name "facebook"}}
    <div class="app-widget__facebook">
      <div class="app-widget__facebook-header">
        <p class="app-widget__facebook-header--type">join us on facebook</p>
      </div>
      <div class="app-widget__facebook-content">
        <div class="app-widget__facebook-content__head">
          <p class="app-widget__facebook-content__head-logo"><img src="http://lorempixel.com/45/45/" alt=""></p>
          <p class="app-widget__facebook-content__head-text">envato</p>
          <div class="app-widget__facebook-content__interact">
            <i class="app-widget__facebook-content__interact-icon far fa-thumbs-up" style="position: relative; left: 2px; top: 3px;"></i>
            <p class="app-widget__facebook-content__interact-like" style="position: relative; left: 5px; top: -11px;">Like</p>
          </div>          
        </div>
        <div class="app-widget__facebook-content__body">
          <div class="app-widget__facebook-content__body-part1">
            <p class="app-widget__facebook-content__body-text">6.546 people Like</p>
            <p class="app-widget__facebook-content__body-text--green">envato</p>
          </div>
          <div class="app-widget__facebook-content__body-part2">
            <div class="app-widget__facebook-content__body-flex">
              <i class="app-widget__facebook-content__body-avatar"><img src="http://lorempixel.com/50/50/" alt=""></i>
              <i class="app-widget__facebook-content__body-avatar"><img src="http://lorempixel.com/50/50/" alt=""></i>
              <i class="app-widget__facebook-content__body-avatar"><img src="http://lorempixel.com/50/50/" alt=""></i>
              <i class="app-widget__facebook-content__body-avatar"><img src="http://lorempixel.com/50/50/" alt=""></i>
              <i class="app-widget__facebook-content__body-avatar"><img src="http://lorempixel.com/50/50/" alt=""></i>
            </div>
            <div class="app-widget__facebook-content__body-flex">
              <i class="app-widget__facebook-content__body-avatar"><img src="http://lorempixel.com/50/50/" alt=""></i>
              <i class="app-widget__facebook-content__body-avatar"><img src="http://lorempixel.com/50/50/" alt=""></i>
              <i class="app-widget__facebook-content__body-avatar"><img src="http://lorempixel.com/50/50/" alt=""></i>
              <i class="app-widget__facebook-content__body-avatar"><img src="http://lorempixel.com/50/50/" alt=""></i>
              <i class="app-widget__facebook-content__body-avatar"><img src="http://lorempixel.com/50/50/" alt=""></i>
            </div>
          </div>
        </div>
      </div>
      <div class="app-widget__facebook-content__footer">
        <i class="app-widget__facebook-content__footer-icon"><i class="fab fa-facebook"></i></i>
        <p class="app-widget__facebook-content__footer-text">Facebook social plugin</p>
      </div>
    </div>
  {{/is}}

  {{#is name "about"}}
    <h3 class="app-widget__title">Latest Comments</h3>
    <div class="app-widget__content">
      <p>Lorem ipsum dolor sit amet, conser adipisicing  esse cillum dolore nulla pariatur.</p>
    </div>
  {{/is}}
  {{#is name "tweets"}}
    <h3 class="app-widget__title">Latest Comments</h3>
    <div class="app-widget__content">
      <p>Lorem ipsum dolor sit amet, conser adipisicing  esse cillum dolore nulla pariatur.</p>
    </div>
  {{/is}}
  {{#is name "photos"}}
    <h3 class="app-widget__title">Latest Comments</h3>
    <div class="app-widget__content">
      <p>Lorem ipsum dolor sit amet, conser adipisicing  esse cillum dolore nulla pariatur.</p>
    </div>
  {{/is}}
  {{#is name "comments"}}
    <h3 class="app-widget__title">Latest Comments</h3>
    <div class="app-widget__content">
      <p>Lorem ipsum dolor sit amet, conser adipisicing  esse cillum dolore nulla pariatur.</p>
    </div>
  {{/is}}
</aside>
<!-- /.app-widget -->
