:host {

  &--light {
    margin-bottom: 40px;

    :host {

      &__title {
        margin: -3px 0 27px 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
        padding-bottom: 17px;
        border-bottom: 1px solid #f7f7f7;
      }
    }
  }

  &__about-image {
    width: 100%;
  }
}
