<div class="app-widget">
  {{#is name "about"}}
    <h3 class="app-widget__title">About Blog</h3>
    <div class="app-widget__content app-widget__content--about">
      <p>Lorem ipsum dolor sit amet, conser adipisicing  esse cillum dolore nulla pariatur.</p>
      <img src="/assets/images/widget-about.jpg" alt="">
    </div>
  {{/is}}
</div>
<!-- /.app-widget -->
