<main class="app-main">
  <div class="app-main__content">
    {{#block "app-main-content"}}
    {{/block}}
  </div>
  <div class="app-main__sidebar">
    {{#block "app-main-sidebar"}}
    {{/block}}
  </div>
</main>
<!-- /.app-main -->
