:host {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;

  &__content {
    flex: 1;
    margin-right: 30px;
  }

  &__sidebar {
    flex-basis: 300px;
    background: #fff;
    box-shadow: 0 0 1px 1px #ededf0;
    padding: 30px;
  }
}
