<nav class="app-post-nav">
  <div class="app-post-nav__go">
    <span><i class="app-post-nav__icon fas fa-long-arrow-alt-left"></i>previous post</span>
  </div>
  <div class="app-post-nav__go">
    <span>next post<i class="app-post-nav__icon fas fa-long-arrow-alt-right"></i></span>
  </div>
</nav>
