<div class="app-post-nav">
  <div class="app-post-nav__button">
    <a class="app-post-nav__button-layout app-post-nav--goleft"><i class="app-post-nav__button-left fas fa-long-arrow-alt-left"></i>previous post</a>
    <a class="app-post-nav__button-layout app-post-nav--goright">next post<i class="app-post-nav__button-right fas fa-long-arrow-alt-right"></i></a>
  </div>
</div>
