:host {
  margin: 0;
  font-family: 'Hind', sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 300;
  background: #f9f9fb;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
