{{#is style "vertical"}}
  <div class="app-sidebar app-sidebar--vertical">
    {{> app-widget style="light" name="search"}}
    {{> app-widget style="light" name="4magazine"}}
    {{> app-widget style="light" name="Catagories"}}
    {{> app-widget style="light" name="smallphoto"}}
    {{> app-widget style="light" name="Latest Post"}}
    {{> app-widget style="light" name="socials"}}
    {{> app-widget style="light" name="new pics"}}
    {{> app-widget style="light" name="facebook"}}
  </div>
  <!-- /.app-sidebar -->
{{/is}}

{{#is style "horizontal"}}
  <div class="app-sidebar app-sidebar--horizontal">
    {{> app-widget style="dark" name="about"}}
    {{> app-widget style="dark" name="tweets"}}
    {{> app-widget style="dark" name="photos"}}
    {{> app-widget style="dark" name="comments"}}
  </div>
  <!-- /.app-sidebar -->
{{/is}}
