{{#is style "vertical"}}
  <div class="app-sidebar app-sidebar--vertical">
    {{> app-widget style="light" name="about"}}
    {{> app-widget style="light" name="tweets"}}
    {{> app-widget style="light" name="photos"}}
    {{> app-widget style="light" name="comments"}}
    {{> app-widget style="light" name="comments"}}
  </div>
  <!-- /.app-sidebar -->
{{/is}}

{{#is style "horizontal"}}
  <div class="app-sidebar app-sidebar--horizontal">
    {{> app-widget style="dark" name="about"}}
    {{> app-widget style="dark" name="tweets"}}
    {{> app-widget style="dark" name="photos"}}
    {{> app-widget style="dark" name="comments"}}
    {{> app-widget style="dark" name="comments"}}
  </div>
  <!-- /.app-sidebar -->
{{/is}}
