{{#is style "light"}}
  <div class="app-sidebar app-sidebar--light">
    {{> app-widget name="about"}}
    {{> app-widget name="tweets"}}
    {{> app-widget name="photos"}}
    {{> app-widget name="comments"}}
    {{> app-widget name="comments"}}
  </div>
{{/is}}

{{#is style "dark"}}
  <div class="app-sidebar app-sidebar--dark">
    {{> app-widget name="about"}}
    {{> app-widget name="tweets"}}
    {{> app-widget name="photos"}}
    {{> app-widget name="comments"}}
    {{> app-widget name="comments"}}
  </div>
{{/is}}
