<div class="app-post-carousel">
  <div class="">
    <div class="app-post-carousel__recommended">
      <p class="app-post-carousel__recommended-text">recommended posts</p>
      <i class="app-post-carousel__recommended-icon app-post-carousel__recommended--iconleft fas fa-long-arrow-alt-left"></i>
      <i class="app-post-carousel__recommended-icon app-post-carousel__recommended--iconright fas fa-long-arrow-alt-right"></i>
    </div>
    <div class="app-post-carousel__pictures">
      <div>
        <div class="app-post-carousel__img"><img src="http://lorempixel.com/240/172/" alt=""></div>
        <div class="app-post-carousel__txt">girl on car vintage fashion </div>
      </div>
      <div>
        <div class="app-post-carousel__img"><img src="http://lorempixel.com/240/172/" alt=""></div>
        <div class="app-post-carousel__txt">women make a tea for cup</div>
      </div>
      <div>
        <div class="app-post-carousel__img"><img src="http://lorempixel.com/240/172/" alt=""></div>
        <div class="app-post-carousel__txt">i found the model 1980’s car </div>
      </div>
    </div>
  </div>
</div>
