<div class="app-post-carousel">
  <div class="app-post-carousel__recommended">
    <h4 class="app-post-carousel__posts">recommended posts</h4>
    <div class="app-post-carousel__go">
      <i class="app-post-carousel__icon fas fa-long-arrow-alt-left"></i>
      <i class="app-post-carousel__icon fas fa-long-arrow-alt-right"></i>
    </div>
  </div>
  <div class="app-post-carousel__pictures">
    <div class="app-post-carousel__picture">
      <img class="app-post-carousel__img" src="http://lorempixel.com/240/172/" alt="">
      <p class="app-post-carousel__text">girl on car vintage fashion</p>
    </div>
    <div class="app-post-carousel__picture">
      <img class="app-post-carousel__img" src="http://lorempixel.com/240/172/" alt="">
      <p class="app-post-carousel__text">women make a tea for cup</p>
    </div>
    <div class="app-post-carousel__picture">
      <img class="app-post-carousel__img" src="http://lorempixel.com/240/172/" alt="">
      <p class="app-post-carousel__text">i found the model 1980’s car</p>
    </div>
  </div>
</div>
