<artical class="app-post-image">
  <div class="app-post-image__adver">
    <i class="app-post-image__pinterest fab fa-pinterest-p"></i>
    <img class="app-post-image__cover" src="http://lorempixel.com/1600/900/" alt="">
    <i class="app-post-image__type far fa-image"></i>
  </div>
</artical>

{{> app-post-content title="be the one to stand out in the crowed" category="travelling" name="news" }}
{{> app-post-footer name="taskbar"}}