<section class="app-carousel owl-carousel">
  <div class="app-carousel__item" data-image="http://lorempixel.com/1200/401/">
    <article class="app-carousel__content">
      <a class="app-carousel__content-category" href="#">Latest News</a>
      <a class="app-carousel__content-title" href="#">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</a>
    </article>
  </div>
  <div class="app-carousel__item" data-image="http://lorempixel.com/1200/402/">
    <article class="app-carousel__content">
      <a class="app-carousel__content-category" href="#">Latest News</a>
      <a class="app-carousel__content-title" href="#">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</a>
    </article>
  </div>
  <div class="app-carousel__item" data-image="http://lorempixel.com/1200/403/">
    <article class="app-carousel__content">
      <a class="app-carousel__content-category" href="#">Latest News</a>
      <a class="app-carousel__content-title" href="#">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</a>
    </article>
  </div>
</section>
<!-- /.app-carousel -->
