<section class="app-carousel">
  <div class="app-carousel__item">
    <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quos saepe ab provident facere laudantium. Sapiente expedita doloremque tempore rem qui dolorum velit porro corporis officia! Illum molestiae eos tempora.</p>
  </div>
  <div class="app-carousel__item">
    <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quos saepe ab provident facere laudantium. Sapiente expedita doloremque tempore rem qui dolorum velit porro corporis officia! Illum molestiae eos tempora.</p>
  </div>
  <div class="app-carousel__item">
    <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quos saepe ab provident facere laudantium. Sapiente expedita doloremque tempore rem qui dolorum velit porro corporis officia! Illum molestiae eos tempora.</p>
  </div>
</section>
<!-- /.app-carousel -->
