:host {
  margin-bottom: 40px;

  &__section {
    display: flex;
    margin-bottom: 20px;
    width: 890px;
  }

  &__avatar {
    height: 150px;
    width: 180px;
  }

  &__profile {
    padding: 16px 23px 0;
    background-color: white;
    width: 669px;
  }

  &__area {
    display: flex;
    text-transform: uppercase;
    border-bottom: 1px solid lightgrey;
    justify-content: space-between;
  }

  &__name {
    font-size: 20px;
    height: 30px;
  }

  &__post {
    font-size: 15px;
    text-align: right;
  }

  &__txt {
    margin-top: 16px;
  }

  &__socials {
    display: flex;
    justify-content: space-between;
  }

  &__social {
    display: flex;
    background: white;
    text-align: center;
  }

  &__text {
    margin: 0;
    padding: 9px 28px;
    width: 100px;
    text-transform: uppercase;
  }

  &__icon {
    padding: 13px 18px 3px;
    align-items: center;
    border-radius: 2px;
    border-right: 1px solid #f8f8f8;

    &:hover {
      background-color: black;
      cursor: pointer;
      font-weight: 600;
      color: white;
    }
  }
}
