<div class="app-post-author">
  <div class="app-post-author__section">
    <img class="app-post-author__avatar" src="http://lorempixel.com/242/172/" alt="">
    <div class="app-post-author__profile">
      <div class="app-post-author__area">
        <h1 class="app-post-author__name">michell beverly</h1>
        <h2 class="app-post-author__post">all post</h2>
      </div>
      <p class="app-post-author__txt">Patricia gives you the ability to let people actually read have your content, instead of focusing on all the other stuff that’s going on their screen.</p>
    </div>
  </div>
  <div class="app-post-author__socials">
    <div class="app-post-author__social">
      <i class="app-post-author__icon fab fa-facebook-f"></i>
      <p class="app-post-author__text">facebook 28</p>
    </div>
    <div class="app-post-author__social">
      <i class="app-post-author__icon fab fa-twitter"></i>
      <p class="app-post-author__text">twitter 40</p>
    </div>
    <div class="app-post-author__social">
      <i class="app-post-author__icon fab fa-tumblr"></i>
      <p class="app-post-author__text">tumbler 11 </p>
    </div>
    <div class="app-post-author__social">
      <i class="app-post-author__icon fab fa-pinterest-p"></i>
      <p class="app-post-author__text">pinterest 83</p>
    </div>
  </div>
</div>
