<div class="app-post-author">
  <div class="app-post-author__section">
    <div class="app-post-author__section-avatar"><img src="http://lorempixel.com/242/172/" alt=""></div>
    <div class="app-post-author__section-desc">
      <div class="app-post-author__profile">
        <div class="app-post-author__area">
          <h1 class="app-post-author__area-name">michell beverly</h1>
          <h2 class="app-post-author__area-all">all post</h2>
        </div>
        <div class="app-post-author__bio">
          Patricia gives you the ability to let people actually read have your content, instead of focusing on all the other stuff that’s going on their screen.
        </div>
      </div>
    </div>
  </div>

  <div class="app-post-author__social">
  <div class="app-post-author__social-layout">
    <i class="app-post-author__social-icon fab fa-facebook-f"></i>
    <p class="app-post-author__social-text">facebook 28</p>
  </div>
  <div class="app-post-author__social-layout app-post-author__social--special">
    <i class="app-post-author__social-icon fab fa-twitter"></i>
    <p class="app-post-author__social-text">twitter 40</p>
    </div>
  <div class="app-post-author__social-layout app-post-author__social--special">
    <i class="app-post-author__social-icon fab fa-tumblr"></i>
    <p class="app-post-author__social-text">tumblr 11</p>
    </div>
  <div class="app-post-author__social-layout app-post-author__social--special">
    <i class="app-post-author__social-icon fab fa-pinterest-p"></i>
    <p class="app-post-author__social-text">pinterest 83</p>
    </div>
</div>
</div>
