:host {
  &__section {
    display: flex;
    position: relative;
    background-color: white;
    border: 1px solid #f5f5f7;

    &-avatar {
      width: 242px;
      height: 172px;
    }

    &-desc {
      width: 100%;
    }
  }

  &__profile {
    padding: 0 25px;
    height: 100%;
  }

  &__area {
    position: relative;
    padding: 24px 0;
    border-bottom: 1px solid #eaeaeb;
    height: 15%;
    color: #212121;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    &-name {
      font-size: 16px;
      position: absolute;
      left: 0;
      padding-bottom: 15px;
    }

    &-all {
      font-size: 14px;
      position: absolute;
      right: 0;
    }
  }

  &__bio {
    padding-top: 25px;
  }

  &__social {
    display: flex;
    text-transform: uppercase;
    padding: 20px 0;
    position: relative;

    &-layout {
      border: 1px solid #eaeaeb;
      height: 48px;
      display: flex;
      text-align: center;
      width: 180px;
    }

    &--special {
      margin-left: 27px;
    }

    &-icon {
      padding: 18px;
      border-right: 1px solid #eaeaeb;

      &:hover {
        background-color: #000;
        color: white;
        cursor: pointer;
      }
    }

    &-text {
      padding: 0 25px;
      color: #a9a9a9;
    }
  }
}
