<artical class="app-post-photo">
    <div class="app-post-photo__adver">
      <div class="app-post-photo__square app-post-photo__square--left">
        <img src="http://lorempixel.com/270/254/" alt="">
      </div>
      <div class="app-post-photo__square app-post-photo__square--bottom">
        <img src="http://lorempixel.com/270/254/" alt="">
      </div>
      <div class="app-post-photo__rectangle">
        <img src="http://lorempixel.com/270/510/" alt="">
      </div>
      <div class="app-post-photo__square app-post-photo__square--right">
        <img src="http://lorempixel.com/270/254/" alt="">
      </div>
      <div class="app-post-photo__square app-post-photo__square--special">
        <img src="http://lorempixel.com/270/254/" alt="">
      </div>
      <i class="app-post-image__type far fa-image"></i>      
    </div>
</artical>

{{> app-post-content title="fashion and adventure in world" category="fashion & adventure" name="news" }}
{{> app-post-footer name="taskbar"}}
  
