<artical class="app-post-photo">
    <div class="app-post-photo__adver">
      <div class="app-post-photo__square app-post-photo__square--left"></div>
      <div class="app-post-photo__square app-post-photo__square--bottom"></div>
      <div class="app-post-photo__rectangle"></div>
      <div class="app-post-photo__square app-post-photo__square--right"></div>
      <div class="app-post-photo__square app-post-photo__square--special"></div>      
    </div>
</artical>

{{> app-post-content title="fashion and adventure in world" name="news" }}
{{> app-post-footer name="taskbar"}}
  
