:host {

  &__adver {
    background-color: gray;
    height: 510px;
    position: relative;
  }

  &__pinterest {
    background-color: red;
    height: 40px;
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 15px 0 0 0;
  }

  &__cover {
    height: 510px;
    width: 100%;
  }

  &__type {
    background-color: black;
    color: white;
    height: 25px;
    width: 40px;
    position: absolute;
    text-align: center;
    padding: 4px 0;
    font-size: 25px;
    bottom: -17px;
    left: 386px;
  }

  &__content {
    background-color: white;
    padding: 50px 30px 10px;

    &-header {
      text-align: center;
      text-transform: uppercase;
    }

    &-icon {
      margin-right: 8px;
      margin-left: 10px;
    }

    &-txt {
      margin-right: 10px;
    }

    &-texts {
      text-align: justify;
    }

    &--special {
      padding: 0 145px;
    }

    &-travl {
      color: black;
      text-decoration-line: none;
    }
  }

  &__footer {
    background-color: white;
  }

  &__tags {
    text-align: center;
    margin-bottom: 30px;
  }

  &__tag-icon {
    margin-right: 10px;
    transform: rotateY(180deg);
  }

  &__tag {
    text-transform: uppercase;
    text-decoration-line: none;
    color: #a9a9a9;

    &:hover {
      color: black;
      cursor: pointer;
      font-weight: 600;
    }
  }

  &__interactions {
    display: flex;
    border-bottom: 2px solid #f8f8f8;
    border-top: 2px solid #f8f8f8;
    padding: 15px 40px;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  &__active {
    margin-right: 15px;
    text-transform: uppercase;
  }

  &__icon {
    margin-right: 10px;

    &:hover {
      color: black;
      cursor: pointer;
      font-weight: 600;
    }
  }

  &__average {
    text-transform: uppercase;
  }

  &__rating {
    margin-left: 7px;
    color: #a9a9a9;
    font-size: 10px;

    &-star:hover {
      color: black;
      cursor: pointer;
      font-weight: 600;
    }
  }

  &__social {
    margin-left: 30px;

    &:hover {
      color: aqua;
      cursor: pointer;
    }
  }
}
