<section class="app-error">
  <div class="app-container">
    <div class="app-error__header">
      <h1 class="app-error__header-code">404</h1>
      <p class="app-error__header-message">uh-oh! nothing found</p>
    </div>
    <div class="app-error__content">
      <span class="app-error__content-title">Sorry!</span>
      <p class="app-error__content-nd">The page you are looking for does not exist or another error occurred</p>
    </div>
    <a href="/" class="app-error_link">
      <i class="app-error__link-icon fas fa-home"></i> go back home
    </a>
  </div>
  <!-- /.app-container -->
</section>
