<section class="app-error">
  <div class="app-grid">

  <div id="container">
    <div id="app-error__relative">
      <h1 class="app-error__404">404</h1>
      <p class="app-error__404-content">uh-oh! nothing found</p>
      </div>

  </div>


  <div class="container-fluid">
    <div class="app-error__button">
      <form action="app-error__hbs">
      <input class="app-error__button-blank" type="text" placeholder="Type any key word">
      <input class="app-error__button-search" type="submit" value="SEARCH">
      </form>
    </div>
  </div>

  <div class="app-cell">
    <div class="app-error__content">
      <h2 class="app-error__content-title">Sorry!</h2>
      <p class="app-error__content-nd">The page you are looking for does not exist or another error occurred</p>
    </div>
  </div>

    <div class="app-error__icon">
      <span class="app-error__icon-home"><i class="app-error__icon fas fa-home"></i></span>
      <h3 class="app-error__icon-content">GO BACK HOME</h3>
    </div>
  </div>
</section>
