:host {
  text-align: center;
  background-color: #f9f9fb;

  &__header {

    &-code {
      font-size: 346px;
      color: #363636;
      table-layout: fixed;
    }

    &-message {
      position: absolute;
      font-size: 20px;
      text-transform: uppercase;
      margin: 0 auto;
      background-color: white;
      text-align: center;
      width: 556px;
      left: 0;
      right: 0;
      top: 245px;
      letter-spacing: 15px;
      padding-bottom: 3px;
      padding-top: 8px;
      padding-left: 9px;
    }
  }

  &__content {

    &-title {
      font-size: 30px;
      color: #363636;
      font-weight: bold;
    }

    &-nd {
      font-size: 14px;
      color: #afafaf;
      font-weight: bold;
    }
  }

  &__link {

    &-icon {
      color: gray;
    }

    &-item {
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
