<section class="app-newsletter">
  <form class="app-newsletter__form">
    <p class="app-newsletter__text">SIGNUP TO NEWSLETTER</p>
    <div class="app-newsletter__input app-newsletter__input--name">
      {{> app-input tag="input" placeholder="YOUR NAME"}}
    </div>
    <div class="app-newsletter__input app-newsletter__input--email">
      {{> app-input tag="input" placeholder="YOUR EMAIL ADDRESS"}}
    </div>
    <div class="app-newsletter__form-button">
      {{> app-button text="subscribe now"}}
    </div>
  </form>
</section>
