<section class="app-newsletter">
  <form class="app-newsletter__form">
    <h2 class="app-newsletter__title">SIGNUP TO NEWSLETTER</h2>
    {{> app-input class="app-newsletter__input app-newsletter__input--name" tag="input" placeholder="YOUR NAME"}}
    {{> app-input class="app-newsletter__input" tag="input" placeholder="YOUR EMAIL ADDRESS"}}
    {{> app-button class="app-newsletter__submit" text="subscribe now"}}
  </form>
</section>
