<newsletter class="app-newsletter">
  <app-grid>
    <div class="app-cell">
      <p class="app-newsletter__para">SIGNUP TO NEWSLETTER</p>
    </div>
    <div class="app-cell">
      <div class="app-newsletter__form">
        {{>app-input big=false}}
        {{>app-button}}
      </div>
    </div>
  </app-grid>
</newsletter>