:host {

  &__form {
    display: flex;
    padding: 20px;
  }

  &__text {
    width: 130px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0 42px 0 0;
    height: 38px;
    letter-spacing: 2px;
  }

  &__input {
    border: 0;
    padding: 0;
    width: 350px;
  }

  &__input--name {
    margin-right: 30px;
  }

  &__form-button {
    width: 228px;
    height: 37px;
    margin-top: 0;
    font-size: 12px;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    margin-left: 30px;
  }
}
