<section class="app-newsletter">

  <p class="app-newsletter__para">SIGNUP TO NEWSLETTER</p>
  <form class="app-newsletter__form">
    <div class="app-newsletter__form-name">
      {{> app-input tag="input" placeholder="YOUR NAME"}}
    </div>
    <div class="app-newsletter__form-email">
      {{> app-input tag="input" placeholder="YOUR EMAIL ADDRESS"}}
    </div>
    <div class="app-newsletter__form-button">
      {{> app-button text="subscribe now"}}
    </div>
  </form>

</section>
