:host {
  background: black;
  color: white;
  text-transform: uppercase;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  display: inline-block;
  padding: 11px 60px;
  padding-bottom: 13px;

  &--big {
    padding: 15px 30px;
  }
}
