{{#is style "quote"}}
  <artical class="app-post-quote">
    <section class="app-post-quote__texts">
      <a class="app-post-quote__icon">“</a>
      <p class="app-post-quote__text">It's about having an actives lifestyles, staying of’shealthy powers, and making the right decisions. life is bes about balance. nor everybody wants to run a marrathon, but we extra have a now days flight of stairs</p>
      <a class="app-post-quote__author">apolo ohno</a>
    </section>
  </artical>
{{/is}}

{{#is style "reference"}}
  <artical class="app-post-quote">
    <section class="app-post-quote__texts" style="height: 100px;">
      <a class="app-post-quote__icon">“</a>
      <p class="app-post-quote__text">freebranders.com</p>
      <p class="app-post-quote__text app-post-quote__text--special">https://dribbble.com/hots/2442963-Blog-Ui-Kit-1170px-grid-ready/attachments/475369</p>
    </section>
  </artical>
{{/is}}

