<artical class="app-post-quote">
  <div class="app-post-quote__background">
    <a class="app-post-quote__text">We moved on. There were shops dealing in all sorts of goods. There were the cloth merchants, chemists, jewellers, confectioners1, tobaccoonists, leather goods merchants, wine merchants, gramophone dealers, radio shops and shops dealing in general merchandise.</a>
  </div>
</artical>