<contact class="app-contact">
  <div class="app-contact__positions">
    <img class="app-contact__position app-contact__position--img" src="assets/images/map.jpg" alt="" width="435px" height="292px">
    <article class="app-contact__position app-contact__position--article">
        <h2 class="app-contact__position--article-title">Contact information</h2>
        <p class="app-contact__position--article-para">In case you some aquestions popped in your’s mind, Fein case you some aquestions popped in your'el email even visit us.</p>
        <div class="app-contact__position--article-inf">
          <i class="fas fa-home app-contact__position--address">Address: 123 Street Name, City Name, United States.</i>
          <i class="fas fa-envelope-square app-contact__position--email">Email: info@lifestyle.com</i> <br>
          <i class="fas fa-globe-asia app-contact__position--web">www.lifestyle.com</i>
        </div>
    </article> 
  <div class="app-contact__biginput">
    {{> app-input big=true}}
  </div>
</contact>