:host {

  &__address {
    display: flex;
    height: 300px;
    margin-bottom: 30px;
    background: white;

    &-map {
      flex-basis: 40%;
      border: 0;
    }
  }

  &__address-info {
    padding: 0 28px;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  &__address-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
    padding-top: 30px;
    margin: 0;
    width: 370px;
  }

  &__address-text {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
  }

  &__address-details {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__address-detail {
    margin-bottom: 10px;
  }

  &__address-detail-icon {
    margin-right: 5px;
  }

  &__address-detail-link {
    color: black;
    text-decoration-line: none;
  }

  &__form-fields {
    display: flex;
    justify-content: space-between;

    :host {

      &__form-field {
        flex-basis: calc((100% - 30px) / 2);
      }
    }
  }

  &__form-field {
    margin-bottom: 20px;
  }
}
