<article class="app-post-video">
  <div class="app-post-video__address">
    <iframe class="app-post-video__address-api" src="https://www.youtube.com/embed/jZYflDyRjzc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <i class="app-post-video__type far fa-image"></i> 
  </div>
</article>

{{> app-post-content title="Ben Sturgulewski Cinematography Reel :: Sturgefilm Adventure & travelling 2016" category="travelling" name="default"}}
{{> app-post-footer name="taskbar"}}