<section class="app-search">
  <form class="app-search__form" style="width: 298px;">
    {{> app-input class="app-search__input" tag="input" placeholder="SEARCH"}}
    <a class="app-search__find">
      <i class="app-search__icon fas fa-search"></i>
    </a>
  </form>
</section>